/* small devices */
@media screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
    }
    .nav-container{
        flex-direction: column;
    }
    .items-container{
        flex-direction: column;
        gap: 10px;
    }
    .nav-container img{
        width: 100%;
    }
    .banner background-image{
        width: 100%;
    }
}


/* large devices */
/* @media screen and (max-width: 600px) {
    
} */