/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* nav bar styles */
.navbar {
  max-width: 1200px;
  margin: 0px auto;
  /* border: 2px solid saddlebrown; */
  display: flex;
  justify-content: center;
}
.nav-container {
  /* border: 2px solid tomato; */
  display: flex;
  align-items: center;
  width: 50%;
  gap: 15px;
}
.nav-container img {
  width: 48px;
  height: 56px;
  margin-right: 16px;
}
.nav-container h1 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav-container span {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.items-container {
  /* border: 2px solid yellow; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-container a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400px;
  color: #424247;
}
.items-container span {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

/* banner styles */
.banner {
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  border-radius: ;
  width: 1170px;
  height: 500px;
  margin: 0 auto;
}
.banner-content {
  text-align: center;
}
.banner-title {
  padding-top: 50px;
  margin-bottom: 24px;
}
.banner-option {
  width: 800px;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  
  
  gap: 24px;
  margin: 0px auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-option .box {
  width: 170px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  background: #fff;
}
.banner-heading {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0px auto;
}
